.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    position: fixed;
    bottom: 0%;
    padding: 1rem 0;
    background-color: var(--background);
}

.navbar > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    /* padding: 2rem; */
    margin-left: 5%;
    border-radius: 1rem;
}
.navbar > div > div {
    padding: 1rem;
}

.currentLoc {
    border-radius: 50%;
}
