.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: var(--main-gray);
    position: fixed;
    bottom: 0%;
}

.navbar > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: var(--main-gray);
    box-shadow: var(--outline-box-shadow);
    padding: 1rem;
}
.navbar > div > div {
}
